<html>
    <head>
        <title>

        </title>
    </head>
    <body>
            <form method="post" action="\exprience">
                <b>Event Name:</b><label><%=e_name%></label>
                <br>
       <b> Write your Exprience</b><input type="hidden" e_name" name="e_name" value="<%=e_name%>">
        <textarea id="exp_txt" name="exp_txt"></textarea>
        <input type="submit">
        </form>
    </body>
</html>